.election-container {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.election-header {
  width: 100%;
  margin-bottom: 20px;
}

.election-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.countdown {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
}

.vote-section {
  width: 100%;
  padding: 0 20px;
  flex-grow: 1;
}

.candidate {
  padding: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  background: linear-gradient(
    145deg,
    var(--primary-color),
    rgba(0, 0, 0, 0.5)
  ); /* Fondo con degradado */
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 28%;
  height: 15em;
  text-align: center;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 1px 3px rgba(255, 255, 255, 0.1); /* Sombra más pronunciada */
}

.candidate:hover {
  transform: translateY(-5px); /* Eleva ligeramente al hacer hover */
  box-shadow:
    0 6px 10px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(255, 255, 255, 0.2); /* Sombra más intensa */
  background: linear-gradient(
    145deg,
    var(--secondary-color),
    var(--primary-color)
  ); /* Cambia a un degradado con color secundario */
}

.candidate.voted {
  background: linear-gradient(
    145deg,
    var(--accent-color),
    var(--tertiary-color)
  );
  border-color: var(--accent-color);
  color: var(--primary-color);
}

.candidate-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.candidate-icon {
  font-size: 2.5rem;
}

.candidate-info {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.candidate-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.candidate-party {
  font-size: 1rem;

  color: var(--accent-color);
}

.candidate-proposals {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  text-align: left;
  color: var(--text-color);
}

.candidate-proposals li {
  margin-bottom: 5px;
  padding-left: 15px;
  position: relative;
}

.candidate-proposals li::before {
  position: absolute;
  left: 0;
  color: var(--secondary-color);
  font-weight: bold;
}

.candidate-list {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  gap: 10px;
  margin-bottom: 20px;
}

.proposals-section {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  color: var(--primary-color);
}

.proposals-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.finalize-section {
  margin-top: 20px;
  text-align: center;
}

.finalize-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color); /* Naranja cálido */
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.finalize-button:hover {
  background-color: var(--accent-color); /* Amarillo brillante */
}

.finalize-button:disabled {
  background-color: rgba(255, 255, 255, 0.2); /* Botón deshabilitado */
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.candidate.selected {
  border: 3px solid var(--accent-color); /* Amarillo brillante */
  background-color: var(--secondary-color); /* Naranja cálido */
}

.vote-button-section {
  margin-top: 20px;
  text-align: center;
}

.vote-button {
  padding: 15px 30px;
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color); /* Naranja cálido */
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.vote-button:hover {
  background-color: var(--accent-color); /* Amarillo brillante */
}

.vote-button:disabled {
  background-color: rgba(255, 255, 255, 0.2); /* Botón deshabilitado */
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.new-candidate-form {
  background-color: var(--secondary-color);
  border-radius: 8px;
  width: 30em;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-input {
  width: 90%; /* Mejor cobertura */
  padding: 12px 16px; /* Espaciado más cómodo */
  border: 1px solid #ccc; /* Color de borde más sutil */
  border-radius: 6px; /* Bordes ligeramente más redondeados */
  font-size: 1rem;
  font-family: 'Arial', sans-serif; /* Fuente limpia y profesional */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Ligero efecto de profundidad */
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease; /* Animación suave */
}

.form-input:focus {
  border-color: #007bff; /* Color de foco llamativo */
  outline: none; /* Elimina el borde predeterminado del navegador */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Resalta el campo al enfocarse */
}

.form-input::placeholder {
  color: #aaa; /* Placeholder más tenue */
  font-style: italic; /* Diferencia visual para el placeholder */
}

.form-input:disabled {
  background-color: #f9f9f9; /* Fondo más claro para campos deshabilitados */
  border-color: #e0e0e0; /* Borde menos marcado */
  color: #bbb; /* Texto deshabilitado */
  cursor: not-allowed; /* Indicador visual para usuarios */
}

.proposals-group {
  margin-top: 15px;
}

.proposal-input-wrapper {
  margin-bottom: 10px;
}

.proposal-input {
  width: calc(100% - 30px);
}

.add-proposal-button {
  margin-top: 10px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-proposal-button:hover {
  background-color: var(--primary-color);
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.form-submit-button,
.form-start-election-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.form-submit-button:hover,
.form-start-election-button:hover {
  background-color: var(--tertiary-color);
}

.form-start-election-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.candidate.disabled-candidate {
  opacity: 0.6; /* Reducir opacidad para indicar que está deshabilitado */
  pointer-events: none; /* Deshabilitar interacción */
  cursor: not-allowed; /* Mostrar cursor no permitido */
}

.candidate.disabled-candidate .candidate-info {
  color: #999; /* Color tenue para indicar deshabilitado */
}

.candidate.disabled-candidate:hover {
  transform: none; /* Eliminar escala en hover */
}
