.Connect__account {
  width: 100%;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto;
}

.Connect__wrongNetwork {
  color: #ff0000;
}

.Connect__button {
  border: 1px solid #999;
  background: #eee;
}

.Connect__button:hover {
  border: 1px solid #000;
}
