@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fed218;
  --background-color: #0e1120;
  --text-color: #ffffff;
  --sub-text-color: rgba(255, 255, 255, 0.7);
}

body {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 0;
}

@font-face {
  font-family: "GoogleSansMedium";
  src: url("./fonts/ProductSans-Medium.ttf");
}
.mediumSans {
  font-family: "GoogleSansMedium";
}
@font-face {
  font-family: "GoogleSansBold";
  src: url("./fonts/ProductSans-Bold.ttf");
}
.boldSans {
  font-family: "GoogleSansMedium";
}

@font-face {
  font-family: "GoogleSansRegular";
  src: url("./fonts/ProductSans-Regular.ttf");
}
.mediumRegular {
  font-family: "GoogleSansRegular";
}
@font-face {
  font-family: "GoogleSansThin";
  src: url("./fonts/ProductSans-Thin.ttf");
}
.mediumThin {
  font-family: "GoogleSansThin";
}
@font-face {
  font-family: "RobotoRegular";
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("./fonts/Roboto-Bold.ttf");
}
.robotoBold {
  font-family: "RobotoBold";
}
