.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 100vh;
  background-color: var(--background-color);
}

.logo-txt {
  font-size: 3em;
  color: #27272796;
  display: flex;
  grid-column-gap: 4px;
}

.login img {
  height: 120px;
  margin-bottom: 20px;
}

.connect {
  margin-top: 1%;
  width: 245px;
  height: 45px;
  cursor: pointer;
  border: none;
  font-size: 17px;

  border-radius: 5px;
  transition: 0.1s;
  color: var(--text-color);
  background-color: var(--primary-color);
  opacity: 0.6 !important;
  transition: opacity 0.3s ease;
}

.connect:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--text-color);
  opacity: 1 !important;
}

.sub {
  text-align: center;
  color: rgba(44, 44, 44, 0.719);
  margin-top: 1%;
  font-size: 16px;
  font-family: "RobotoRegular";
  color: var(--text-color);
  margin-bottom: 20px;

  font-family: "";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/107528/Rangile.woff") format("woff");
}

.mediumRegular {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/107528/Rangile.woff") format("woff");
}

.inputEditor input {
  font-family: "" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/107528/Rangile.woff") format("woff") !important;
}
