@import url('https://fonts.googleapis.com/css2?family=Telegraf:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --card-accent: 35 100% 96%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 49 100% 52%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 0 0% 93%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --table: 0 0% 0%;
    --table-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 240 5.9% 10%;

    --radius: 0;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 3.8% 46.1%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 18%;
    --foreground: 0 0% 98%;

    --card: 0 0% 25%;
    --card-foreground: 0 0% 98%;
    --card-accent: 0 0% 35%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 49 100% 52%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 57%;
    --input: 0 0% 57%;
    --ring: 240 4.9% 83.9%;

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 240 5% 64.9%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

* {
  border-radius: 0 !important;
  box-shadow: none !important;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
